**/bin/
**/obj/


.idea/

Eidaris.sln.DotSettings.user
Eidaris.sln.DotSettings


Eidaris.Presentation/Properties
Eidaris.Infrastructure/Shaders/Compiled

*.json
**/*.json
*.spv
**/*.spv
!*example.json
!**/*example.json
*.pfx
**/*.pfx